*temp
*.compiled
logs/*.log
logs/*.pid
node_modules
.DS_Store
static/uploads/
*_temp
foxxy/yarn-error.log
foxxy/specs/pictures/
foxxy/*.sh
.nyc_output
coverage
foxxy/app/js/config.js
deploy-cms
install_service
scripts
sync/*.tgz
cypress/videos
./dump/
*.lua
staging-*