*temp
*.compiled
logs/*.log
logs/*.pid
node_modules
.DS_Store
static/uploads/
static/assets/
*_temp
foxxy/yarn-error.log
foxxy/specs/pictures/
foxxy/*.sh
.nyc_output
coverage
foxxy/app/js/config.js
deploy-cms
/install_service/**
/scripts/**
!**/.gitkeep
sync/*.tgz
cypress/videos
cypress/screenshots
./dump/
*.lua
staging-*
dump/
load*.sh
uploads/
assets/
certs/
compile_tag/
compile_tailwind/
git*
/Dockerfile_arm64
/docker-compose.override.yml
/arangodb_arm64.conf
config.moon
static/cache/**/*