#!/bin/sh

# this file needs to be deployed manually on server

cd solicms
git reset --hard
git pull
cp ../shared/config.* .

docker exec -it solicms_cms_prod_1 cp -Rf /var/www/patch/lapis /usr/local/share/lua/5.1/
docker exec -it solicms_cms_prod_1 moonc *.moon
docker exec -it solicms_cms_prod_1 moonc **/*.moon
docker exec -it solicms_cms_prod_1 lapis build production