version: '3.1'

services:
  foxxy:
    build:
      context: .
      dockerfile: Dockerfile_node
    command: /bin/bash -c "yarn && yarn start"
    ports:
      - 4002:4001
    volumes:
      - ./foxxy/:/workspace
      - node_modules:/workspace/node_modules
    depends_on:
      - arangodb
    links:
      - arangodb:arangodb
    networks:
      fasty:

  cms:
    #build: .
    image: solisoft/fasty
    command: /bin/bash -c "cd /var/www && lapis server"
    ports:
      - 8081:8080
    volumes:
      - ./:/var/www:delegated
    depends_on:
      - arangodb
      - foxxy
    links:
      - arangodb:arangodb
    networks:
      fasty:
        ipv4_address: 14.12.0.7

  cms_prod:
    #build: .
    image: solisoft/fasty
    restart: always
    command: /bin/bash -c "cd /var/www && moonc *.moon && moonc **/*.moon && lapis server production"
    ports:
      - 9091:80
    volumes:
      - ./:/var/www:delegated
    depends_on:
      - arangodb
    links:
      - arangodb:arangodb
    networks:
      fasty:
        ipv4_address: 14.12.0.8

  arangodb:
    image: arangodb:latest
    restart: always
    environment:
      ARANGO_ROOT_PASSWORD: password
    networks:
      fasty:
        ipv4_address: 14.12.0.6
    ports:
      - 8529:8529
    volumes:
      - arangodb-data:/var/lib/arangodb3
      - arangodb-app:/var/lib/arangodb3-apps


volumes:
  arangodb-data:
  arangodb-app:
  node_modules:
  node_modules_resize:

networks:
  fasty:
    ipam:
      config:
        - subnet: 14.12.0.0/24
