@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
html {
  height: 100%; }

body {
  background: linear-gradient(150deg, #0d2537 0, #283a63 100%);
  min-height: 100%; }

.uk-table * {
  color: white; }

:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
  background: rgba(0, 0, 0, 0.2); }

.select2-results__option {
  color: black !important; }

.select2-selection__choice {
  color: black; }

.uk-modal-dialog * {
  color: black !important; }

.uk-modal-dialog .uk-button-primary {
  color: white !important; }

.rightnav {
  background: rgba(0, 0, 0, 0.2); }

.uk-nav-default .uk-nav-header {
  color: #1E87EF; }

.uk-nav-default .uk-nav-divider {
  border-top: 1px solid rgba(36, 33, 33, 0.8); }

.uk-nav-default > li.uk-active > a {
  color: #1E87EF; }

.uk-form-label, h1, h2, h3, h4, .uk-tab a {
  color: white !important; }

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped > tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.uk-button-default {
  color: white; }

.uk-navbar {
  background: rgba(0, 0, 0, 0.4) !important; }

.uk-navbar-nav > li.uk-active > a {
  color: #1E87EF; }

* + .uk-hr, * + hr {
  border-top: 1px solid rgba(0, 0, 0, 0.5); }

.uk-input, .uk-select, .uk-textarea {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5); }

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  background: #000;
  color: white; }

.sg-editcontent .uk-input, .sg-editcontent .uk-select, .sg-editcontent .uk-textarea {
  color: #000; }

.sg-editcontent .uk-input:focus, .sg-editcontent .uk-select:focus, .sg-editcontent .uk-textarea:focus {
  color: #fff; }

.map {
  height: 400px; }

.select2-selection {
  height: 30px; }
  .select2-selection .select2-selection__arrow {
    height: 30px; }

.select2-container .select2-selection--single {
  height: 30px;
  border: 1px solid #ddd;
  outline: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 30px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s linear; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px; }

.select2-search__field:focus {
  border: 1px solid #99baca !important;
  outline: 0;
  background: #f5fbfe;
  color: #444; }

.select2-dropdown {
  border: 1px solid #ddd;
  z-index: 100000; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 9px; }

.select2-selection--multiple {
  height: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #99baca; }

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd; }

.select2-container .select2-search__field {
  line-height: 24px !important;
  margin-top: 9px !important; }

/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/
/* ==== GRID SYSTEM ==== */
.sg-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.sg-row {
  position: relative;
  width: 100%; }

.sg-row [class^="col"] {
  float: left;
  margin: 0rem 2%;
  min-height: 0.125rem; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.sg-row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .sg-container {
    width: 80%; } }

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

@media only screen and (min-width: 60em) {
  /* 960px */
  .sg-container {
    width: 75%;
    max-width: 60rem; } }

aside, .sg-container {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5; }

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  background: white;
  right: 0;
  overflow: scroll;
  z-index: 1000000;
  padding-bottom: 100px; }

.editor-cms {
  min-height: 300px; }

.editor-cms .cms_editor h1, .editor-cms .cms_editor h2, .editor-cms .cms_editor h3, .editor-cms .cms_editor h4, .editor-cms .cms_editor h5, .editor-cms .cms_editor h6, .editor-cms .cms_editor p {
  color: black !important; }

.editor-cms a.view-mode.toggle-layout {
  background: #2779FF;
  color: white;
  padding: 5px 10px;
  text-decoration: none; }

.ace_editor {
  height: 500px; }

.editor-cms a.view-mode.isactive.toggle-layout {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 100000;
  width: 137px;
  text-align: center; }

.editor-cms section.view-mode {
  width: 100%;
  height: 350px;
  overflow: hidden;
  -webkit-perspective: 500px;
  -webkit-perspective-origin: 0 0;
  -moz-perspective: 500px;
  -moz-perspective-origin: 0 0;
  -o-perspective: 500px;
  -o-perspective-origin: 0 0; }

.editor-cms section.view-mode .page-content {
  background: white;
  color: black;
  margin: 10px;
  border: 10px solid #eee;
  height: 1000px;
  overflow: scroll;
  -webkit-transform: translateZ(-800px);
  -moz-transform: translateZ(-800px);
  -o-transform: translateZ(-800px); }
  .editor-cms section.view-mode .page-content h1, .editor-cms section.view-mode .page-content h2, .editor-cms section.view-mode .page-content h3, .editor-cms section.view-mode .page-content h4, .editor-cms section.view-mode .page-content h5, .editor-cms section.view-mode .page-content h6 {
    color: black !important; }

.editor-cms .view-mode {
  display: none; }

.editor-cms .edit-mode {
  display: none; }

.editor-cms .isactive {
  display: block; }

.editor-cms .cms_col .active {
  background: rgba(0, 0, 0, 0.4); }

.editor-cms .cms_row .active {
  background: rgba(0, 0, 0, 0.1); }

.editor-cms aside {
  z-index: 10000;
  font-size: 12px;
  position: fixed;
  color: white;
  left: 0;
  bottom: 0;
  top: 0;
  background: #000;
  padding-bottom: 20px;
  width: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  text-align: center; }

.editor-cms aside * {
  color: white; }

.editor-cms aside h1 {
  color: gold;
  font-size: 12px;
  padding: 3px;
  margin: 0;
  margin-top: 20px; }

.editor-cms aside a {
  color: white;
  border-bottom: 1px dashed #999;
  text-decoration: none; }

.editor-cms aside a:hover {
  border-bottom: 1px solid gold; }

.editor-cms aside .small {
  font-size: 8px; }

section.editor-cms, section.edit-mode {
  margin-left: 100px; }

.editor-cms .edit-mode .drop {
  transition: all 0.5s; }

.editor-cms .edit-mode .drop:hover {
  background: rgba(0, 0, 255, 0.05); }

.editor-cms .ace-editor {
  width: 100%;
  min-height: 600px; }

.editor-cms .col_editor {
  position: absolute;
  margin-left: -99999px;
  z-index: 10000; }

.editor-cms .row_editor {
  position: absolute;
  margin-left: -99999px;
  z-index: 10000; }

.editor-cms .cms_toolbar ul {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 18px; }

.editor-cms .cms_toolbar ul * {
  color: white; }

.editor-cms .cms_toolbar ul {
  padding: 0 10px;
  margin: 0; }

.editor-cms .cms_toolbar ul li {
  list-style: none;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: white !important; }

.editor-cms .edit-mode .drop_empty {
  min-height: 10px;
  background: rgba(0, 0, 255, 0.05); }

.editor-cms .edit-mode .empty_row .cms_col {
  min-height: 30px;
  background: rgba(0, 0, 255, 0.05);
  margin-bottom: 10px; }

.editor-cms .drop_empty.active {
  background: lightgreen; }

.editor-cms .dragging {
  opacity: 0.2; }

.editor-cms .edit-mode .drag {
  cursor: move; }

.editor-cms .edit-mode [data-type=video] {
  padding: 10px;
  cursor: move; }

.editor-cms .sg-editcontent {
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 20000;
  transition: all 0.2s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0); }

.editor-cms .editmode .sg-editcontent {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  height: 100%;
  transition: all 0.2s; }

.editor-cms .sg-editcontent .content {
  padding: 30px; }

.editor-cms .fa-times-circle {
  cursor: pointer;
  margin-right: 20px; }

.editor-cms [data-type="embed"] {
  padding: 10px; }

.trumbowyg-modal {
  z-index: 1000000 !important; }

.trumbowyg-editor {
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8); }

.uk-button-default:focus, .uk-button-default:hover {
  color: #d6ff8f; }

.handle {
  cursor: move; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.editor {
  border: 10px solid #232323; }

.datepickers-container {
  z-index: 1000000 !important; }


/*# sourceMappingURL=css.css.map*/